html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  height: 240px;
}

.robot {
  width: 320px;
  position: relative;
  left: 50%;
  height: 240px;
  transform: translate();
  padding: .5rem 0 0 0;
}

.robot-body {
  width: 320px;
}

.robot-brain {
  width: 46px;
  position: absolute;
  top: 13%;
  left: 42.5%;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
}
